<div class="card text-bg-primary m-auto">
  <div class="card-body text-center">
    <h3 class="card-title">家計簿作成のルールとヒント</h3>
    <p class="card-title">(家計簿はこの下にあります)</p>
  </div>
  <div class="card-body m-auto">
    <p class="card-title">・年、月、世帯人数、住居形態は選択式になっています。<br>選択肢からどれか一つを選んでください。世帯人数、<br>住居形態は「無回答」も選択できます。</p>
    <p class="card-title">・他の項目は、0以上1億以下の整数を入力できます。<br>空欄でもかまいませんが、整数以外は入力できません。<br>空欄があっても、支出の合計や貯蓄額は表示されます。</p>
    <p class="card-title">・世帯人数、住居形態、年収を入力した場合、<br>それらの属性に応じて支出の全国平均を表示できます。</p>
    <p class="card-title">・世帯人数、住居形態で「無回答」を選択した場合と、<br>年収欄を空欄にした場合について、支出の全国平均は<br>無回答や空欄にした項目を考慮せずに表示されます。</p>
    <p class="card-title">・住居費の支出の全国平均では、住宅ローンの支払いは<br>含んでいません。住宅ローンの支払いについては<br>その他の欄に入力することをおすすめします。</p>
    <p class="card-title">・交通費の支出の全国平均では、年収帯に関わらず、<br>過半数は自動車関連費用となっています。</p>
    <p class="card-title">・貯蓄額とは、貯金と投資の合計額のことです。</p>
    <p class="card-title">・貯蓄率とは、支出の合計に占める貯蓄額の割合のことです。</p>
    <p class="card-title">・支出の全国平均の出典等は、ページ下部に記載しています。</p>
  </div>
</div>
