<div class="card m-auto">
  <div class="card-body text-center">
    <h4 class="card-title">支出の全国平均について</h3>
  </div>
  <div class="card-body m-auto">
    <p class="card-title">・交通費の支出の全国平均について、年収帯が同じ層の平均の<br>交通・通信費から通信費を差し引いた額を表示しています。</p>
    <p class="card-title">・通信費の支出の全国平均について、世帯人数が同じ層の<br>平均の交通・通信費から交通費を差し引いた額を表示しています。</p>
    <p class="card-title">・支出の全国平均の出典は政府統計の総合窓口(e-Stat)<br><a href="https://www.e-stat.go.jp/" target="_blank">https://www.e-stat.go.jp/</a>です。</p>
    <p class="card-title">・家計調査結果(総務省)を基に作成しました。</p>
  </div>
</div>
