<%= render "shared/partial" %>
<main class="contain bg-success-subtle">
  <div class="card text-bg-primary mb-3" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">アカウント設定</h3>
    </div>
  </div>
  <div class="card text-bg-light mb-3" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">アカウント情報<br>編集・削除</h3>
      <div class="btn btn-outline-info">
        <%= link_to "編集・削除", edit_user_registration_path %>
      </div>
    </div>
  </div>
  <div class="card text-bg-light mb-3" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">ニックネーム</h3>
      <p class="card-text"><%= @user.name %></p>
    </div>
  </div>
  <div class="card text-bg-light mb-3" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">メールアドレス</h3>
      <p class="card-text"><%= @user.email %></p>
    </div>
  </div>
  <div class="card text-bg-light mb-3" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title">パスワード</h3>
      <p class="card-text">*********</p>
    </div>
  </div>
</main>
