<header class="c-header c-hamburger-menu">
  <a href="/" class="c-header__logo">家計簿
  </a>
  <input type="checkbox" name="hamburger" id="hamburger" class="c-hamburger-menu__input"/>
  <label for="hamburger" class="c-hamburger-menu__bg">
  </label>
  <ul class="c-header__list c-hamburger-menu__list">
    <li class="c-header__list-item">
      <a href="/" class="c-header__list-link">家計簿作成</a>
    </li>
    <li class="c-header__list-item">
      <a href="/" class="c-header__list-link">目標金額を貯める</a>
    </li>
    <li class="c-header__list-item">
      <a href="/" class="c-header__list-link">節約のコツ集</a>
    </li>
    <li class="c-header__list-item">
      <a href="/" class="c-header__list-link">ログイン</a>
    </li>
    <li class="c-header__list-item">
      <a class="c-header__list-link">
        <%= link_to "ゲストログイン", users_guest_sign_in_path, data: { "turbo-method": :post } %>
      </a>
    </li>
    <li class="c-header__list-item">
      <a href="/" class="c-header__list-link">新規登録</a>
    </li>
    <li class="c-header__list-item">
      <a href="/" class="c-header__list-link">お問い合わせ</a>
    </li>
  </ul>
  <label for="hamburger" class="c-hamburger-menu__button">
    <span class="c-hamburger-menu__button-mark"></span>
    <span class="c-hamburger-menu__button-mark"></span>
    <span class="c-hamburger-menu__button-mark"></span>
  </label>
</header>
