<%= render "shared/partial" %>
<div class="contain bg-success-subtle">
  <div class="row">
    <div class="col-md-6 col-lg-4 bg-success">
      <%= link_to "家計簿作成", budgetbooks_path, class:"btn btn-primary btn-lg m-2" %>
      <p>家計簿を作成し、<br>支出ごとに全国平均と比較できます。</p>
    </div>
    <div class="col-md-6 col-lg-4 bg-success">
      <div class="btn btn-outline-info m-2">
        <h4>目標金額を貯めよう!</h4>
      </div>
      <p>欲しいものの金額、目標貯金額、<br>毎月貯める金額、貯めた期間を入力し、<br>目標金額の達成率を表示できます。</p>
    </div>
    <div class="col-md-6 col-lg-4 bg-success">
      <div class="btn btn-outline-info m-2">
        <h4>節約のコツ集</h4>
      </div>
      <p>あなたのとっておきの<br>節約のコツを投稿してみましょう。</p>
    </div>
    <div class="col-md-6 col-lg-4 bg-success">
      <div class="btn btn-outline-info m-2">
        <h4>お問い合わせ</h4>
      </div>
      <p>ご不明な点がございましたら<br>こちらからお問い合わせください。</p>
    </div>
  </div>
</div>
