<%= render "shared/partial" %>
<div class="contain bg-success-subtle">
  <div class="row">
    <div class="col-md-6 col-lg-4 bg-success">
      <div class="btn btn-outline-info">
        <h4>家計簿を新規作成</h4>
      </div>
      <p>家計簿を作成し、<br>支出ごとに平均額と比較できます。</p>
    </div>
    <div class="col-md-6 col-lg-4 bg-success">
      <div class="btn btn-outline-info">
        <h4>目標金額を貯めよう!</h4>
      </div>
      <p>欲しいものの金額、目標貯金額、<br>毎月貯める金額、貯めた期間を入力し、<br>目標金額の達成率を表示できます。</p>
    </div>
    <div class="col-md-6 col-lg-4 bg-success">
      <div class="btn btn-outline-info">
        <h4>節約のコツ集</h4>
      </div>
      <p>あなたのとっておきの<br>節約のコツを投稿してみましょう。</p>
    </div>
    <div class="col-md-6 col-lg-4 bg-success">
      <div class="btn btn-outline-info">
        <h4>ログイン・新規登録</h4>
      </div>
      <p>ユーザーの方はログインページから<br>ログインできます。新たにユーザーに<br>なる方は、ログインページ下部の<br>新規登録欄をクリックしてください。</p>
    </div>
    <div class="col-md-6 col-lg-4 bg-success">
      <div class="btn btn-outline-info">
        <h4>ゲストログイン</h4>
      </div>
      <p>ゲストの方のためのログイン機能です。</p>
    </div>
    <div class="col-md-6 col-lg-4 bg-success">
      <div class="btn btn-outline-info">
        <h4>お問い合わせ</h4>
      </div>
      <p>ご不明な点がございましたら<br>こちらからお問い合わせください。</p>
    </div>
  </div>
</div>
