<div class="card m-3">
  <div class="card-body m-auto">
    <h3 class="card-title text-center">目標貯金額の設定のルール</h3>
    <p class="card-title">・このページにある項目は全て入力必須です。</p>
    <p class="card-title">・貯金の目的は1文字以上100文字以内で入力してください。</p>
    <p class="card-title">・毎月貯める金額は1円以上500万円以下で入力してください。</p>
    <p class="card-title">・貯めた月数は1か月以上240か月以下で入力してください。</p>
    <p class="card-title">・毎月貯める金額の他に追加した金額は0円以上1億円以下で入力してください</p>
    <p class="card-title">・目標貯金額は1円以上1億円以下で入力してください。</p>
  </div>
</div>
