<div class="card m-3">
  <div class="card-body m-auto">
    <h3 class="card-title text-center">投稿機能について</h3>
    <p class="card-title">・あなたが考える節約のコツを投稿してみましょう。</p>
    <p class="card-title">・カテゴリーでは自分が投稿したいジャンルを選んでください。<br>選択肢には「その他の支出」もあります。</p>
    <p class="card-title">・本文は入力必須で、入力可能な最大文字数は200文字です。</p>
  </div>
</div>
